In [ ]:
# Inserting few important lib

In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('diabetes.csv')
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [6]:
# Checking for null values in dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
#

In [9]:
x = df[['Pregnancies' , 'Glucose' , 'BMI' , 'Age']] # indepedent variables
y = df['Outcome'] # target variable

In [10]:
x.head(10)

   Pregnancies  Glucose   BMI  Age
0            6      148  33.6   50
1            1       85  26.6   31
2            8      183  23.3   32
3            1       89  28.1   21
4            0      137  43.1   33
5            5      116  25.6   30
6            3       78  31.0   26
7           10      115  35.3   29
8            2      197  30.5   53
9            8      125   0.0   54

In [11]:
y.head(10)

0    1
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    1
Name: Outcome, dtype: int64

In [12]:
# Data Splitting
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.3)

In [13]:
x_train

     Pregnancies  Glucose   BMI  Age
401            6      137  24.2   55
176            6       85  31.2   42
226            0      101  35.7   26
742            1      109  28.5   22
686            3      130  23.1   22
..           ...      ...   ...  ...
104            2       85  39.6   27
548            1      164  32.8   50
350            4       92  42.2   29
136            0      100  30.8   21
14             5      166  25.8   51

[537 rows x 4 columns]

In [14]:
x_test

     Pregnancies  Glucose   BMI  Age
80             3      113  22.4   22
343            5      122  34.7   33
175            8      179  32.7   36
153            1      153  40.6   23
415            3      173  35.7   22
..           ...      ...   ...  ...
494            3       80   0.0   22
239            0      104  18.4   27
101            1      151  26.1   22
152            9      156  34.3   42
630            7      114  27.4   34

[231 rows x 4 columns]

In [15]:
# Train logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [17]:
# Using the model to make our predications

In [18]:
x_test

     Pregnancies  Glucose   BMI  Age
80             3      113  22.4   22
343            5      122  34.7   33
175            8      179  32.7   36
153            1      153  40.6   23
415            3      173  35.7   22
..           ...      ...   ...  ...
494            3       80   0.0   22
239            0      104  18.4   27
101            1      151  26.1   22
152            9      156  34.3   42
630            7      114  27.4   34

[231 rows x 4 columns]

In [19]:
y_test

80     0
343    0
175    1
153    0
415    1
      ..
494    0
239    0
101    0
152    1
630    1
Name: Outcome, Length: 231, dtype: int64

In [24]:
i = model.predict_proba([[4,141,27.6,40]])
print(i)

[[0.60591351 0.39408649]]

C:\Users\banda\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [26]:
 i = model.predict([[4,141,27.6,40]])
print(i)

[0]

C:\Users\banda\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [27]:
accuracy = model.score(x_test,y_test)
print(accuracy)

0.7792207792207793